<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Admin Dash</h1>
  <a href="/login">Back</a> 


<h3>
    <a href="/admin/Todolist">
        Todo list </a>
        <br/>
</h3>
<h3>
    <a href="/admin/Userlist">
        Users </a>
</h3>


</body>
</html>
